.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #171a20;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.footer{
  position: sticky;
  
  bottom: 0;
  font-size: 1rem;
  color: aliceblue;
  background-color: #171a20;
  left: 0;
  padding: 0.3rem;
  text-align: center;
  width: 100%;

}

.tableContainer{
  background-color: #1E1F25;
  border-radius: 20px;
  height: 244px;
  padding: 0 10px 10px 10px;
  overflow: scroll;
}


